.advantages__card {
  position: relative;
  display: flex;
  width: 1344px;
  height: 592px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  background-color: #191423;
  border-radius: 48px;
  margin-top: 172px;

  &-text {
    width: 640px;
    margin-top: 112px;
    margin-left: 112px;
  }

  &-text-first {
    font-size: 32px;
    font-weight: 200;
    line-height: 40px;
  }

  &-text-second {
    font-size: 18px;
    line-height: 32px;
    margin-top: 40px;
    margin-bottom: 56px;
  }

  &-num {
    position: absolute;
    bottom: 34px;
    right: 52px;
    font-weight: 200;
    font-size: 48px;
  }
}
